  <div class="jumbotron">
    <div class="container p-2">
      <form action="/queries/payments/" method="POST">
        <div class="form-group row">
          <label for="from" class="col-sm-1 col-form-label">Desde</label>
          <div class="col-sm-4">
            <input type="datetime-local" name="from" id="from" class="form-control" style="border-bottom-color: black; border-bottom-width: 1px;"  autocomplete="off">
          </div>
          <label for="to" class="col-sm-1 col-form-label">Hasta</label>
          <div class="col-sm-4">
            <input type="datetime-local" name="to" id="to" class="form-control" style="border-bottom-color: black; border-bottom-width: 1px;"  autocomplete="off">
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Buscar</button> 
          </div>
        </div>
      </form>
    </div>
  </div>

  {{#if payments}}
  
  <div class="container">
    <div class="row row-col-4">
      <div class="col">
        <div class="card text-white bg-success mb-3">
          <div class="card-header">Efectivo</div>
          <div class="card-body">
            <h4 class="card-title">S/ {{cash}}</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-info mb-3">
          <div class="card-header">Tarjeta</div>
          <div class="card-body">
            <h4 class="card-title">S/ {{credit}}</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-warning  mb-3">
          <div class="card-header">Otros</div>
          <div class="card-body">
            <h4 class="card-title">S/ {{other}}</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card  bg-secondary mb-3">
          <div class="card-header">Total</div>
          <div class="card-body">
            <h4 class="card-title">S/ {{total}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="jumbotron">
  <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Plan</th>
      <th scope="col">Socio</th>
      <th scope="col">Usuario</th>
      <th scope="col">Fecha</th>
      <th scope="col">Monto</th>
      <th scope="col">Método de pago</th>
    </tr>
  </thead>
  <tbody>
    {{#each payments as |p|}}
    <tr>
      <td class="{{#if p.productId.state}}table-success{{else}}table-danger{{/if}}">{{p.productId.name}}</td>
      <td>{{p.customerId.name}} {{p.customerId.lastName}} </td>
      <td>{{p.createdBy.name}} </td>
      <td>{{moment p.createdAt local=true format="YYYY-DD-MM HH:mm:ss"}} </td>
      <td>S/ {{p.amountPayed}} </td>
      <td>{{p.type}} </td>
    </tr>
    {{/each}}
</tbody>
</table>
</div>
  
  {{/if}}
